*{
    margin: 0;

}

header{
    background-color: aqua;
    height: 120px;  

}  

main{
    background-color: white;
    height: 800px;

}

footer{
    background-color: aqua ;
    height: 120px;

}

.container{
    display: flex;
}

.item{
    border: 5px rgb(0, 0, 0) solid;
    height: 220px;
    width: 200px;
    border-radius: 15px;
    text-align: center; 
    
}